.try-now *,
.try-now {
    transition: all 0.2s ease;
    .cart {
        padding-left: 14px;
    }
}
.try-now:hover {
    .try-now-text {
        color: #fff;
    }
    .cart {
        width: 97%;
        justify-content: flex-start;
    }
}